<h1>List of Stocks</h1>

<div class="card-deck">
  <% @stocks.each do |stock| %>
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview-<%= stock.id %>" role="tab" aria-controls="overview-<%= stock.id %>" aria-selected="true">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="targets-tab" data-toggle="tab" href="#targets-<%= stock.id %>" role="tab" aria-controls="targets-<%= stock.id %>" aria-selected="false">Targets</a>
          </li>
        </ul>
      </div>

      <div class="card-body">
        <h4 class="card-title"><%= link_to stock.symbol.upcase, stock_path(stock) %></h4>
        <h6 class="card-subtitle mb-2 text-muted"><%= number_to_currency(stock.target_exit_3) %></h6>
        
        <div class="tab-content mt-3" id="myTabContent">
          <div class="tab-pane show active" id="overview-<%= stock.id %>" role="tabpanel" aria-labelledby="overview-tab">
            <p class="card-text">
                Wait
            </p>
          </div>
          
          <div class="tab-pane" id="targets-<%= stock.id %>" role="tabpanel" aria-labelledby="targets-tab">
            <%= stock.stop_loss %>
          </div>
        </div>

      </div>
      <footer class="blockquote-footer"><%= stock.source %></footer>
    </div>
  <% end %>
</div>