<h1> New Stock</h1>


<%= form_with scope: :stock, url: stocks_path, local: true do |form| %>
  <p>
    <%= form.label :symbol %><br>
    <%= form.text_field :symbol %>
  </p>
 
  <p>
    <%= form.label :target %><br>
    <%= form.text_field :target %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>