<header class="navbar fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag("logo.png", :size => "115x60", alt: "Trade Watch"), root_path, id: "logo", :class => "navbar-brand" %>
    </div>
      <%= link_to "New Watchlist Item", new_stock_path %>
  </div>
  <div>
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
  </div>
</header>

